# Proyecto - Análisis Exploratorio
Andrea Cecilia Rivas Castañeda - 16001120

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import scipy.stats as stats

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

import joblib

In [2]:
pd.pandas.set_option('display.max_columns', None)

In [3]:
data = pd.read_csv('kidney_disease.csv')
data.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,36.0,1.2,NaN,NaN,15.4,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,18.0,0.8,NaN,NaN,11.3,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,53.0,1.8,NaN,NaN,9.6,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,56.0,3.8,111.0,2.5,11.2,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,26.0,1.4,NaN,NaN,11.6,35,7300,4.6,no,no,no,good,no,no,ckd

* Separamos el dataset en 2 partes: *entrenamiento* y *prueba*

In [4]:
#separamos data para entrenamiento y prueba,
X_train, X_test, y_train, y_test = train_test_split(
                        data.drop(['id', 'classification'], axis=1),
                        data['classification'],
                        test_size=0.15,
                        random_state=2021)

* Separación de variables categóricas y numéricas *(discretas y continuas)*.

In [5]:
cat_vars = [var for var in X_train.columns if X_train[var].dtype == 'O' and (var not in ['rc', 'pcv', 'wc'])]
num_vars = [var for var in X_train.columns if var not in (cat_vars)]

discrete_vars = [var for var in num_vars if((len(data[var].unique()) < 20))]
cont_vars = [var for var in num_vars if var not in discrete_vars]

# Tratamiento de NA's
## Variables Numéricas
### Variables Discretas

In [6]:
X_train[discrete_vars].isnull().mean().sort_values(ascending=False)

sg    0.108824
su    0.108824
al    0.100000
bp    0.029412
dtype: float64

In [7]:
X_test[discrete_vars].isnull().mean().sort_values(ascending=False)

al    0.200000
su    0.200000
sg    0.166667
bp    0.033333
dtype: float64